{% extends 'base.html' %}

{% block title%}Contact{%endblock title%}
{%block body%}
  <div class="container-fluid px-0">
   <img src="/static/img/10.jpg"  height="400"  class="d-block w-100" alt="...">
  </div>
  <div class="container my-4">   
   <h1 class="text-center">Contact us:-</h1>
    <!-- <h4 class="text-center">-Bookify</h4>
   <h5 class="text-center">-bookify@gmail.com</h5>
   <h5 class="text-center">-9284056403</h5>
   <h5 class="text-center">-Pune</h5> -->
  <form method="post" action="/contact">
    {%csrf_token %}
   <div class="form-group">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
   </div>
   <div class="form-group">
   <label for="email" class="form-label">Email address</label>
   <input type="email" class="form-control" id="email" name="email" >
   </div>
   <div class="form-group"> 
    <label for="phone">Contact Number</label>
    <input type="number" class="form-control" id="phone" name="phone" >
    </div>
   {% comment %} <div class="form-group">
   <label for="desc">Explanation</label>
   <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
   </div> {% endcomment %}
  </form> 
   <button class="btn btn-primary"  type="submit">Submit</button>
  </div>
{%endblock body%}
